[Desktop Entry]
Encoding=UTF-8
Name=GingerCoin
Comment=GingerCoin P2P Cryptocurrency
Comment[fr]=GingerCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=GingerCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/GingerCoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/GingerCoin80.xpm
MimeType=x-scheme-handler/GingerCoin;
Categories=Office;
