#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_GingerCoin
#build/GingerCoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_GingerCoin)

DEB_INSTALL_EXAMPLES_GingerCoind += debian/examples/*
DEB_INSTALL_MANPAGES_GingerCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix USE_IPV6=1 USE_QRCODE=1 USE_UPNP=0 GingerCoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f GingerCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake GingerCoin-qt.pro USE_QRCODE=1 USE_DBUS=1

override_dh_auto_test:
	#cd src; $(MAKE) -f makefile.unix test_GingerCoin
	#src/test_GingerCoin

# Ensure wrapper is set executable
binary-post-install/GingerCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/GingerCoind
binary-post-install/GingerCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/GingerCoin-qt
